<div id="div-formes" class="form-group">
  <label for="forme_predefinie">Type de forme</label>
  <select name="forme_predefinie" id="forme_predefinie">
    <option value="rectangle">Rectangle</option>
    <option value="ligne_horizontale">Ligne horizontale</option>
    <option value="ligne_verticale">Ligne verticale</option>
    <option value="cercle">Cercle</option>
    <option value="trapeze">Trapèze</option>
    <option value="rectangle_incline">Rectangle incliné</option>
    <option value="triangle">Triangle</option>
  </select>
</div>